<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <dubbo:annotation package="com.storage.server.dubboService" />

    <dubbo:application  name="rest-consumer" owner="pikav" organization="dubbo"/>

    <dubbo:registry id="dubboRegistry" address="${dubbo.registry.address}"/>

    <!--支持两种协议的调用：rpc-dubbo协议；http协议-rest api-url调用-->
    <dubbo:protocol name="rest" server="tomcat" port="1919" contextpath="order"  accepts="500"/>
    <dubbo:protocol name="dubbo" port="9219" threads="200"/>

    <dubbo:reference scope="remote" version="1.0.0" id="testService" check="false" interface="com.storage.api.service.IDubboTestService"/>

    <dubbo:reference scope="remote" version="1.0.0" id="dubboCommodityService" check="false" interface="com.storage.api.service.IDubboCommodityService"/>

</beans>